body {
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

.services-scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.services-scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
